<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ana Sayfa</title>
    <div th:replace="fragments/bootstraplinks :: baglanti" ></div>
    <div th:replace="fragments/nav :: navbar" ></div>
    <link th:href="@{css/anasayfa.css}" href="/static/css/anasayfa.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body background="/images/friends.jpg">
<div class="divboyut container">
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Test Adı</th>
        <th scope="col">Kullanıcı Adı</th>
        <th scope="col">Doğru Cevaplar</th>
        <th scope="col">Yanlış Cevaplar</th>
        <th scope="col">Kankalık Seviyesi</th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${istatistik.empty}">
        <td colspan="2"> Hiç bir testin çözülmemiş. </td>
    </tr>
    <tr th:each="ist : ${istatistik}">
        <td th:text="${ist.getTestAdi()}">test1</td>
        <td th:text="${ist.getCozen()}">sırdas</td>
        <td th:text="${ist.getDogruSayisi()}">kankammisin.com/best</td>
        <td th:text="${ist.getYanlisSayisi()}">sırdas</td>
        <td th:text="${ist.getKankalik()}">sırdas</td>
    </tr>

    </tbody>
</table>
    <div class="row container">
        <h3> Hala Testini Oluşturmadın mı Yoksa? Hemen Test Oluştur Kankaa :) </h3>
        <div>
            <button type="Button" onClick="location.href='/testolustur'" style="margin-left: 25px" class="btn btn-primary col">Test Oluştur</button>
        </div>
    </div>
</div>
</body>
</html>