<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ana Sayfa</title>
    <div th:replace="fragments/bootstraplinks :: baglanti" ></div>
    <div th:replace="fragments/nav :: navbar" ></div>
    <link th:href="@{css/anasayfa.css}" href="/static/css/anasayfa.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body background="/images/friends.jpg">
<div class="divboyut">
<table class="table table-bordered">
    <thead class="tab-header-background">
    <tr>
        <th scope="col">Test Adı</th>
        <th scope="col">Kullanıcı Adı</th>
        <th scope="col">Doğru Cevaplar</th>
        <th scope="col">Yanlış Cevaplar</th>
        <th scope="col">Kankalık Seviyesi</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">test1</th>
        <td>sero</td>
        <td>10</td>
        <td>5</td>
        <td>bff</td>
    </tr>
    <tr>
        <th scope="row">test2</th>
        <td>haso</td>
        <td>10</td>
        <td>3</td>
        <td>kankam</td>
    </tr>
    <tr>
        <th scope="row">test3</th>
        <td>tıro</td>
        <td>10</td>
        <td>2</td>
        <td>sırdas</td>
    </tr>
    <tr>
        <th scope="row">test4</th>
        <td>aşkın</td>
        <td>12</td>
        <td>5</td>
        <td>öylesine arkadaş</td>
    </tr>
    </tbody>
</table>
    <div class="row container">
        <h3> Hala Testini Oluşturmadın mı Yoksa? Hemen Test Oluştur Kankaa :) </h3>
        <div>
            <button type="Button" onClick="location.href='/testolustur'" style="margin-left: 25px" class="btn btn-primary col">Test Oluştur</button>
        </div>
    </div>
</div>
</body>
</html>