<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Ana Sayfa</title>
    <div th:replace="fragments/bootstraplinks :: baglanti" ></div>
    <link th:href="@{css/testlerim.css}" href="/static/css/testlerim.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body background="/images/friends.jpg" style="background-attachment: fixed">
<div th:replace="fragments/nav :: navbar" ></div>

<div class="divboyut">
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Testim</th>
        <th scope="col">Kategori</th>
        <th scope="col">Test Linki</th>

    </tr>
    </thead>
    <tbody>
    <tr th:if="${testler.empty}">
        <td colspan="2"> Test Bulunmamaktadır </td>
    </tr>
    <tr th:each="test : ${testler}">
        <th scope="row">1</th>
        <td th:text="${test.getTestId()}">test1</td>
        <td th:text="${test.getTestAdi()}">sırdas</td>
        <td th:text="${test.getTestLinki()}">kankammisin.com/best</td>
    </tr>

    </tbody>
</table>
</div>
</body>
</html>