<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/font-awesome-ie7.min.css" />
    <meta charset="UTF-8">
    <title>Ana Sayfa</title>
    <div th:replace="fragments/bootstraplinks :: baglanti" ></div>
    <link th:href="@{css/testlerim.css}" href="/static/css/testlerim.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body background="/images/friends.jpg" style="background-attachment: fixed">
<div th:replace="fragments/nav :: navbar" ></div>
<div class="arkadiv">
    <h3 class="h3div">Testlerim</h3>
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
    <tr><th scope="col">Testim</th>
        <th scope="col">Kategori</th>
        <th scope="col">Test Linki</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${testler.empty}">
        <td colspan="2"> Test Bulunmamaktadır </td>
    </tr>
    <tr th:each="test : ${testler}">
        <td th:text="${test.getTestAdi()}">test1</td>
        <td th:text="${test.getKategori()}">sırdas</td>
        <td> <a th:href="${test.getTestLinki()}" th:text="${test.getTestLinki()}"></a><icon class="far fa-copy kopyalaicon" onclick="kopyalama(this);"></icon> </td>
    </tr>
    </tbody>
</table>
</div>

<script > function kopyalama(element){
    var alan = element.parentElement.querySelector('a').innerHTML;
    var textAlani = document.createElement('TEXTAREA');
    textAlani.value = alan;
    document.body.appendChild(textAlani);
    textAlani.select();
    document.execCommand('copy');
    textAlani.style.display = 'none';
}</script>
</body>
</html>