<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Ana Sayfa</title>
    <div th:replace="fragments/bootstraplinks :: baglanti" ></div>
    <link th:href="@{css/testolustur.css}" href="/static/css/testolustur.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/diger.css}" href="/static/css/diger.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body background="/images/friends.jpg" style="background-attachment: fixed">
    <div th:replace="fragments/nav :: navbar" ></div>

<div id="app">

    <div>{{ seciliSorular }}</div>
    <form id="formDiv" action="#" th:action="@{/testolustur}" th:object="${form}" onsubmit="return sub()"  method="post">
        <div class="row container">
            <div class="col-md-2 col-md-offset-5" th:object="${test}">
                <input type="text" class="form-control" aria-label="Default" name="testAdi" th:value="${test.testAdi}" aria-describedby="inputGroup-sizing-default">
                <input hidden th:name="kimin" th:value="${{kisiId}}">
            </div>
        </div>
    <div id="sorular"  th:each="formList, itemStat : ${form.getFormList()}" class="card  cardboyut cardarasibosluk" >
        <div class="card-header">
            <h5 class="card-title col-9">
                <label class="switch">
                    <input type="checkbox" th:name="|formList[${itemStat.index}].getSoruId|" onchange="sayi(this)" th:value="${formList.getSoruId()}" v-model="seciliSorular">
                    <span class="slider"></span>
                </label>
                <input hidden th:name="|formList[${itemStat.index}].soru|" th:value="${formList.getSoru()}"/>
                <span th:text="${formList.getSoru()}"></span>
            </h5>
        </div>
        <div class="card-bod container">
            <div class="funkyradio row">
                <div class="funkyradio-success col" >
                    <input type="radio" th:name="|formList[${itemStat.index}].dogruCevap|" th:value="${formList.getCevap1()}" th:id="${formList.getSoruId()}+${formList.getCevap1()}" />
                    <input hidden th:name="|formList[${itemStat.index}].cevap1|" th:value="${formList.getCevap1()}" />
                    <label th:text="${formList.getCevap1()}" th:for="${formList.getSoruId()}+${formList.getCevap1()}"></label>
                </div>
                <div class="funkyradio-success col" >
                    <input type="radio" th:name="|formList[${itemStat.index}].dogruCevap|" th:value="${formList.getCevap2()}" th:id="${formList.getSoruId()}+${formList.getCevap2()}" />
                    <input hidden th:name="|formList[${itemStat.index}].cevap2|" th:value="${formList.getCevap2()}" />
                    <label th:text="${formList.getCevap2()}" th:for="${formList.getSoruId()}+${formList.getCevap2()}"></label>
                </div>
                <div class="funkyradio-success col" >
                    <input type="radio" th:name="|formList[${itemStat.index}].dogruCevap|" th:value="${formList.getCevap3()}" th:id="${formList.getSoruId()}+${formList.getCevap3()}" />
                    <input hidden th:name="|formList[${itemStat.index}].cevap3|" th:value="${formList.getCevap3()}" />
                    <label th:text="${formList.getCevap3()}" th:for="${formList.getSoruId()}+${formList.getCevap3()}"></label>
                </div>
                <div class="funkyradio-success col" >
                    <input type="radio" th:name="|formList[${itemStat.index}].dogruCevap|" th:value="${formList.getCevap4()}" th:id="${formList.getSoruId()}+${formList.getCevap4()}" />
                    <input hidden th:name="|formList[${itemStat.index}].cevap4|" th:value="${formList.getCevap4()}" />
                    <label th:text="${formList.getCevap4()}" th:for="${formList.getSoruId()}+${formList.getCevap4()}"></label>
                </div>
            </div>
            <input hidden th:name="|formList[${itemStat.index}].baslik|" th:value="${formList.getBaslik()}" />
            <input hidden th:name="|formList[${itemStat.index}].kategori|" th:value="${formList.getKategori().getKategoriId()}" >
            <input hidden th:name="|formList[${itemStat.index}].user|" th:value="${{kisiId}}" />
        </div>
        </div>
        <input type="submit" value="BASSSS"      name="bas"/>

    </form>
    <button onclick="soruEkle()" >Soru Ekle</button>
   <!-- <div class="card  cardboyut cardarasibosluk" >
        <div class="card-header">
            <h5 class="card-title">En sevdiğim içecek nedir</h5>
        </div>
        <div class="card-bod container">
            <div class="funkyradio row">
                <div class="funkyradio-success col" >
                    <input type="radio" name="radio2.formList" id="radio5" />
                    <label for="radio5">kola</label>
                </div>
                <div class="funkyradio-success col" >
                    <input type="radio" name="radio2.formList" id="radio6" />
                    <label for="radio6">ayran</label>
                </div>
                <div class="w-100"></div>
                <div class="funkyradio-success col" >
                    <input type="radio" name="radio2.formList" id="radio7" />
                    <label for="radio7">süt</label>
                </div>
                <div class="funkyradio-success col" >
                    <input type="radio" name="radio2.formList" id="radio8" />
                    <label for="radio8">vişne suyu</label>
                </div>

            </div>

        </div>
    </div>
-->
</div>

<script th:inline="javascript">

</script>


<script th:inline="javascript">

    if([[${basarili}]]){
        alert("test oluşturuldu");
    }

    var kisiId = [[${kisiId}]]

    var secilen = 0;
    var yeniSoru = 4;

    function sub(event) {

        if(secilen<15 || secilen > 15){
            alert("15 soru seçmelisiniz.");
            return true;
        }
        return true;
    }

    function sayi(event) {
        if(event.checked){
            secilen++;
        }
        else{
            secilen--;
        }
    }

    function soruEkle() {
        yeniSoru++;
        secilen++;
        $("#formDiv").append(" <div id=\"sorular\" class=\"card  cardboyut cardarasibosluk\" >" +
            "        <div class=\"card-header\">" +
            "            <h5 class=\"card-title col-9\">" +
            "                <label class=\"switch\">" +
            "                    <input hidden type='number' name='formList["+yeniSoru+"].soruId' value='1'>" +
            "                    <span class=\"slider\"></span>" +
            "                </label>" +
            "                <input type='text' placeholder='Soru' name='formList["+ yeniSoru +"].soru' />"+
            "            </h5>" +
            "        </div>" +
            "        <div class=\"card-bod container\">" +
            "            <div class=\"funkyradio row\">" +
            "                <div class=\"funkyradio-success col\" >" +
            "                    <input type=\"radio\" name='formList["+ yeniSoru +"].dogruCevap' id='den"+yeniSoru+"1' />" +
                "<label for='den"+yeniSoru+"1'> <input type='text' name='formList["+ yeniSoru +"].cevap1' placeholder='cevap1'/> </label>" +
            "                </div>" +
            "                <div class=\"funkyradio-success col\" >" +
            "                    <input type=\"radio\" name='formList["+ yeniSoru +"].dogruCevap' id='den"+yeniSoru+"2' />" +
            "<label for='den"+yeniSoru+"2'> <input type='text' name='formList["+ yeniSoru +"].cevap2' placeholder='cevap2'/> </label>" +
        "                </div>" +
            "                <div class=\"funkyradio-success col\" >" +
            "                    <input type=\"radio\" name='formList["+ yeniSoru +"].dogruCevap' id='den"+yeniSoru+"3' />" +
            "<label for='den"+yeniSoru+"3'> <input type='text' name='formList["+ yeniSoru +"].cevap3' placeholder='cevap3'/> </label>" +        "                </div>" +
            "                <div class=\"funkyradio-success col\" >" +
            "                    <input type=\"radio\" name='formList["+ yeniSoru +"].dogruCevap' id='den"+yeniSoru+"4' />" +
            "<label for='den"+yeniSoru+"4'> <input type='text' name='formList["+ yeniSoru +"].cevap4' placeholder='cevap4'/> </label>" +        "                </div>" +
            "            </div>" +
            "            <input name='formList["+yeniSoru+"].baslik' placeholder='baslik' />" +
            "            <input name='formList["+ yeniSoru +"].kategori' placeholder='kategori' />" +
            "            <input hidden name='formList["+yeniSoru+"].user' value="+kisiId+" />" +
            "        </div>" +
            "        </div>");

    }


    var app = new Vue({
        el: '#app',
        data: {
            seciliSorular: [],
            seciliCevaplar: [],
            kategoriId: 0,
            userId: 0
        },
        methods: {

        }

        /*,
        created: function () {
            // `this` points to the vm instance
            console.log('a is: ')
        }*/
    });

</script>

</body>
</html>