<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Ana Sayfa</title>
    <div th:replace="fragments/bootstraplinks :: baglanti" ></div>
    <link th:href="@{css/anasayfa.css}" href="/static/css/anasayfa.css"
          rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{css/diger.css}" href="/static/css/diger.css"
          rel="stylesheet" type="text/css" media="screen"/>
</head>
<body background="/images/friends.jpg" style="background-attachment: fixed">
<div id="app">
    <nav class="navbar navbar-expand-lg container navbar-light bg-light col-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Testlerim<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Test Oluştur<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Profil</a>
            </ul>
        </div>
    </nav>




    <div>{{ seciliSorular }}</div>
    <form action="#" th:action="@{/testolustur}" method="post">
    <div id="sorular"  th:each="message : ${sorular}" class="card  cardboyut cardarasibosluk" >
        <div class="card-header">
            <h5 class="card-title col-9">
                <label class="switch">
                    <input type="checkbox" name="soruId" th:value="${message.getSoruId()}" v-model="seciliSorular">
                    <span class="slider"></span>
                </label>
                <span th:text="${message.getSoru()}"></span>
            </h5>
        </div>
        <div class="card-bod container">
            <div class="funkyradio row">
                <div class="funkyradio-success col" >
                    <input type="radio" name="dogruCevap" th:id="${message.getSoruId()}+${message.getCevap1()}" th:value="${message.getCevap1()}" />
                    <label th:text="${message.getCevap1()}" th:for="${message.getSoruId()}+${message.getCevap1()}"></label>
                </div>
                <div class="funkyradio-success col" >
                    <input type="radio" th:value="${message.getCevap2()}" th:name="${message.getDogruCevap()}" th:id="${message.getSoruId()}+${message.getCevap2()}" />
                    <label th:text="${message.getCevap2()}"  th:for="${message.getSoruId()}+${message.getCevap2()}"></label>
                </div>
                <div class="w-100"></div>
                <div class="funkyradio-success col" >
                    <input type="radio" th:name="${message.getDogruCevap()}" th:id="${message.getSoruId()}+${message.getCevap3()}"  th:value="${message.getCevap3()}"/>
                    <label th:text="${message.getCevap3()}"  th:for="${message.getSoruId()}+${message.getCevap3()}"></label>
                </div>
                <div class="funkyradio-success col" >
                    <input type="radio" th:name="${message.getDogruCevap()}" th:id="${message.getSoruId()}+${message.getCevap4()}"  th:value="${message.getCevap4()}"/>
                    <label th:text="${message.getCevap4()}"  th:for="${message.getSoruId()}+${message.getCevap4()}"></label>
                </div>

            </div>

        </div>
        </div>
        <input type="submit" value="BASSSS" name="bas"/>
    </form>


   <!-- <div class="card  cardboyut cardarasibosluk" >
        <div class="card-header">
            <h5 class="card-title">En sevdiğim içecek nedir</h5>
        </div>
        <div class="card-bod container">
            <div class="funkyradio row">
                <div class="funkyradio-success col" >
                    <input type="radio" name="radio2.soru" id="radio5" />
                    <label for="radio5">kola</label>
                </div>
                <div class="funkyradio-success col" >
                    <input type="radio" name="radio2.soru" id="radio6" />
                    <label for="radio6">ayran</label>
                </div>
                <div class="w-100"></div>
                <div class="funkyradio-success col" >
                    <input type="radio" name="radio2.soru" id="radio7" />
                    <label for="radio7">süt</label>
                </div>
                <div class="funkyradio-success col" >
                    <input type="radio" name="radio2.soru" id="radio8" />
                    <label for="radio8">vişne suyu</label>
                </div>

            </div>

        </div>
    </div>
-->
</div>

<script>


    var app = new Vue({
        el: '#app',
        data: {
            seciliSorular: [],
            seciliCevaplar: []
        },
        methods: {

        }
    });

</script>

</body>
</html>